.center {
  text-align: center;
  margin:6rem;
}

#image
{
  width: 50%;
  height: 50%;
  /* display: block; */
}

p {
  font-size: x-large;
}

#title {
  font-size: 50px;
  font-weight: 300;
}

.bold {
  font-weight: bold;
}

.xl-text {
  font-size: x-large;
}
 
body {
    background-color: black;
    color: white;
    font-family: calibri;
  }
